.footer{
    height: 200px;
    width: 100%;
    background: black;
    bottom: 0px;
}

.footer-image{
    margin: 0 auto;
    width: 500px;
    height: 100%;
    background-image: url('../../../assets/imagens/footer.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

    
@media screen and (max-width: 500px) {
    .footer-image{
        width: 100%;
    }
}