<router-outlet></router-outlet>
<div id="background-image" class="background-image">
    <article class="starwarsAnimation">
        <div class="animation">
            <div class="introBackground">
                <div id="intro" class="intro noselect">A long time ago in a galaxy far,<br>far away....</div>
            </div>
            <div id="logo-star-wars" class="logo-star-wars">
                <img src="../../../assets/imagens/navbar.png" alt="logo star wars" class="img-star-wars" id="img-star-wars">
            </div>
            <div id="titles">
                <div id="title-content">
                    <p id="episode" class="tcenter">Episode I</p>
                    <p id="title" class="tcenter SWFont">THE UX JEDI</p>
                    <div id="text">
                        <p>Essa Aplicação Web tem a finalidade de disponibilizar para qualquer público, as informações de
                            todos os personagens da Saga Star Wars e quantos personagens possui em cada Filme. Para isso,
                            utilizamos a API chamada SWAPI (https://swapi.co/documentation), levando em consideração nossos</p>
                        <p>conhecimentos UX Jedi, procuramos fazer um layout que seja responsivo. </p>
                        <p> Para te ajudar a navegar, temos uma NavBar acima, onde temos 3 itens de navegação:</p><br>
                        <p> 1) É o próprio "Home", para você poder voltar aqui e rever as orientações. </p>
                        <p> 2) "Personagens", onde você terá acesso a todos os personagens da Saga Star Wars.</p>
                        <p> 3) "Filmes", Nessa página conseguimos ver as estatísticas de quantos personagens possui em cada
                            filme da Saga.</p><br>
                        <p>Divirtam-se!!!</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>