#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
    color: #ffd54e;
}

#titles:after
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#title-content
{
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 4s infinite;
}

.starwarsAnimation .introBackground .intro {
    padding: 40px 100px;
    color: #4bd5ee;
    font-weight: 400;
    font-size: 200%;
    transform: scaleX(1.1);
    opacity: 0;
    animation: introTextAnimation 3s ease-out 1s;
    text-align: center;
    z-index: 1;   
}

#titles #episode {
    text-align: center;
    margin-bottom: 1em;
}

.tcenter{
    text-align: center;
    margin-bottom: 1em;
}

.logo-star-wars{
    width: 100vw;
    height: 100%;
    top: 0px;
    position: absolute;
    background-color: transparent;
    transition: width 16px;
    animation: reducao-imagem 5s ease 1s;
    opacity: 0;
    .img-star-wars{
        width: 100%;
        height: 100%;
        background: transparent;
    }
}

@keyframes reducao-imagem{
    from {
    width: 100vw;
    height: 100%;
    opacity: 1;
   }
   to { 
    width: 0;
    height: 0;
    opacity: 0;
   }
}


@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes introTextAnimation{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;

    }
}

